/* logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.studio--top {
  color: var(--primary-text-color);
}

.studio--bottom {
  color: #ffffff;
}

.main__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

/* logo__link */
.logo__link {
  display: block;
  margin-bottom: 20px;
}
